* {
  font-family: "Roboto", sans-serif;
  /* border: 1px red solid; */
}

.jumbo-content {
  padding: 4% 5%;
  margin-bottom: 100px;
}

section {
  text-align: center;
}

.sale {
  position: absolute;
  margin: 2% 25% 98% 75%;
  color: white;
  font-size: 0.7rem;
  padding: 1% 3%;
  height: 15%;
}

img.card-img-top:hover {
  border: lime 4px solid;
  z-index: 1;
}

div.card {
  margin-bottom: 50px;
  height: 22rem;
  width: 16rem;
  position: relative;
}

.footer {
  color: white;
  padding: 30px;
  margin-top: 75px;
}

.add-to {
  margin-bottom: 1.5rem;
  margin-left: 20%;
  width: 60%;
}

span.btn-pill {
  border: 0;
  border-radius: 50%;
  padding: 0.2rem 0.5rem;
  font-size: x-small;
}

.add-to:hover {
  background: black;
  color: snow;
  font-weight: bold;
  border: 2px solid lime;
}

.bi-star-fill {
  color: gold;
}

s {
  color: #db4437;
}

.glow {
  font-size: 80px;
  text-align: center;
  animation: glow 1s ease-in-out infinite alternate;
}
@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px green, 0 0 20px green, 0 0 30px #41aea9, 0 0 40px #41aea9, 0 0 50px #41aea9, 0 0 60px #41aea9,
      0 0 70px #41aea9;
  }
  to {
    text-shadow: 0 0 20px green, 0 0 30px #213e3b, 0 0 40px #213e3b, 0 0 50px #213e3b, 0 0 60px #213e3b,
      0 0 70px #213e3b, 0 0 80px #213e3b;
  }
}
