* {
  font-family: "Roboto Condensed", sans-serif;
}

nav {
  margin-bottom: 30px;
}

.second-row {
  color: white;
  padding: 20px;
}

.m50 {
  margin-bottom: 50px;
}
.footer {
  color: white;
  padding: 30px;
}

body {
  margin: 0;
}
header {
  margin: 0;
}
section {
  margin: 2% 14%x;
}
